html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

.element {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 1em;
}

.screen {
	margin: 0px;
    height: 100%;
}

.manipulation {
	width: 100px;
    height: 100px;
	margin: auto;
	margin-top: 10%;
    background-color: yellow;
	display: block;
	position: relative;
	transition: all 1s;
}
.manipulation.selected {
	border-radius: 100px;
}

.appear {
	display: block;
	position: flex;
	width: 100px;
	height: 100px;
	background-color: black;
	border-radius: 50%;
	margin: 1em;
}

.circle {
	width: 100px;
    height: 100px;
	margin: auto;
	bottom: 0;
	position: absolute;
    background-color: black;
	display: block;
	transition: all 1s ease;
	border-radius: 50%;

}
